@media screen and (max-width: 640px) {
  #header {
    height: 400px;
    h1 {
      top: 65% !important;
      font-size: 2em !important;
    }
  }

  #content {
    width: 90%;
    padding: 5% !important;
    font-size: 1.2em !important;
    p {
      font-size: 0.9em !important;
    }
  }

  .hours {
    padding: 10px 0;
  }
  #nav {
    top: 15%;
  }
  ul {
    li {
      height: 65px !important;
      display: block !important;
    }
  }
}